@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Serif+TC&display=swap" rel="stylesheet");

body {
  background-color: #EDF4ED;
  font-family: 'Noto Serif TC', serif;
  color: #EDF4ED;
  font-size: 14px;
  line-height: 20px;
}

.container {
  width: 900px;
  margin: 0 auto;
}


.card-white {
  background-color: #33658A;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 15px rgba(120, 120, 120, 0.6);
}

.text-center {
  text-align: center;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

h1 {
  color: #EDF4ED;
  font-size: 25px;
  font-weight: bold;
}

h2 {
  color: #ABD1B5;
  font-size: 20px;
}

h3 {
  font-size: 10px;
  margin: 20px 0;
}

h3 span {
  text-decoration: underline;
}

p {
  margin: 0;
}

img {
  width: 300px;
  border-radius: 30px;
  margin: 30px;
  box-shadow: 2px 2px 5px rgba(120, 120, 120, 0.6);
}

#email-button {
  font-family: 'Lato', sans-serif;
  background-color: #ABD1B5;
  color: #EDF4ED;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
}

#email-button:hover {
  background-color: #EDF4ED;
  color: rgba(120, 120, 120, 1);
}

a {
  color: #ABD1B5;
  text-decoration: none;
}

a:hover {
  color: #EDF4ED;
  text-decoration: none;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 30px;
  margin: 20px 0 0 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }

  img {
    width: 300px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }

  img {
    width: 150px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }

  img {
    width: 150px;
  }
}
